{{ define "main" }}
    {{ $landingPageEnabled := .Site.Params.landingpage.enabled | default true }}

    {{ if $landingPageEnabled }}
        {{ $landingData := .Site.Data.landing }}
        {{ $sections := slice }}

        {{ range $key, $value := $landingData }}
            {{ $sectionTitle := $key }}
            {{ $weight := printf "%v" $value.weight }}
            {{ $template := replaceRE `( |-{1,})` "_" $value.template }}

            {{ $section := dict "sectionTitle" $sectionTitle "weight" $weight "template" $template }}
            {{ $sections = $sections | append $section }}
        {{ end }}

        {{ $sortedSections := sort $sections "weight" }}

        {{ range $sortedSections }}
            {{ $.Scratch.Set "sectionTitle" .sectionTitle }}
            {{ $path := printf "landing/%s.html" .template }}
            {{ partial $path $.Page }}
        {{ end }}
    {{ else }}
        <meta http-equiv="refresh" content="0; url=/docs" />
    {{ end }}
{{ end }}
